::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0d0f14;
}

::-webkit-scrollbar-thumb {
  background: #ffffff18;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff30;
}